<header>
  <h1>Inicio</h1>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/users">Usuarios</a></li>
      <li><a href="/products">Productos</a></li>
      <li><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
</header>
