* {
    /* border: 3px dotted red; */
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-image: url(../img/code.jpg);
    background-size: cover; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    /* color: snow; */
}

h1:hover {
    text-decoration: underline;
}

.cuadrado {
    margin-top: 1em;
    width: 300px;
    height: 300px;
    border: solid;
    background-color: aquamarine;
}

.cuadrado:hover {
    border: solid blueviolet;
    background-color: rgba(250, 128, 114, .5);
    cursor: pointer;
}

/* a {
    color: red;
    text-decoration: none;
} */

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: line-through;
}

a:visited {
    /* text-decoration: overline; */
    color: greenyellow;
}