<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h1>Productos</h1>
    </div>
    <div class="col text-end">
      <a href="/admin/products/create" class="btn btn-sm btn-primary">Crear</a>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (typeof rows == 'object') { %> <% rows.forEach(product => { %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td class="text-end">
          <a
            href="/admin/products/edit/<%= product.id %>"
            class="btn btn-sm btn-info"
            >Editar</a
          >
          <form
            class="form-delete"
            action="/admin/products/<%= product.id %>?_method=DELETE"
            method="post"
            style="display: inline-block"
          >
            <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
          </form>
        </td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("submit", (event) => {
    if (event.target.classList.contains("form-delete")) {
      event.preventDefault();

      if (confirm("¿Esta seguro?")) {
        event.target.submit();
      }
    }
  });
</script>
