<% if (typeof errors !='undefined' ) { %> <% errors.forEach(error=> { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error.msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% }) %> <% } %>
