<nav class="navbar navbar-expand-md bg-body-tertiary mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">Workshop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <!-- <a class="nav-link active" aria-current="page" href="/">Inicio</a> -->
      </div>
      <div class="d-flex">
        <a class="nav-link" href="/login">Login</a>
      </div>
    </div>
  </div>
</nav>
