<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi sitio</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <h2>Listado de usuarios</h2>
      <a href="/users/create" class="btn btn-sm btn-primary">Crear</a>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Correo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach((user) => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
